{% extends 'base.html' %}
{% block beforehead %}
    <script>
    var
        ID = '{{ id }}',
        action = '{{ action }}';
    $(function () {
        if (ID) {
            $.getJSON('/api/get_categery/' + ID, function (data, status) {
                initVM(data);
            });
        }
        else {
            initVM({'categery': {
                name: '',
              }
            });
        }
    });

    function initVM(data) {
        var vm = new Vue({
            el: '#vm',
            data: {categery: data.categery},
            methods: {
                submit: function (event) {
                    event.preventDefault();
                    $.post(action, this.$data.categery, function (r, status,xhr) {
                        {
                            alert(status);
                            if(status == 'success'){
                                return location.assign('/x/admin/manage_categeries');
                                // return location.assign('/x/admin/categeries');
                            }
                        }
                    },'json');
                }
            }
        });
        $('#vm').show();
    }

    </script>
{% endblock %}

{% block sidebarli %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}

   <div id="vm" class="">
       <form v-on:submit="submit" class="">


           <div class="mui-textfield mui-textfield--float-label">
               <input v-model="categery.name" name="name" type="text" required>
               <label>Categery Name</label>
           </div>

           <div class="">
               <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">保存</button>
           </div>
       </form>
   </div>
{% endblock %}
