<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script>

    var
        ID = '{{ id }}',
        action = '{{ action }}';
        // alert(action);
    function initVM(blog, categeries) {
        var vm = new Vue({
            el: '#vm',
            delimiters: ['${', '}'],
            data: {blog: blog.blog, categeries: categeries.categeries},
            methods: {
                submit: function (event) {
                    event.preventDefault();
                    $.post(action, this.$data.blog, function (r, status,xhr) {
                        {
                            alert(status);
                            if(status == 'success'){
                                // return location.assign('/blog/' + r.id);
                                // return location.assign('/x/admin/blogs');
                            }
                        }
                    },'json');
                }
            }
        });
        console.log(vm)
        $('#vm').show();
    }

    $(function () {
        if (ID) {
            var blog, categeries;
            $.when(
                $.getJSON('/api/get_blog/' + ID, function (data) {
                    blog = data;
                }),
                $.getJSON('/api/get_all_categeries', function (data) {
                    categeries = data;
                })
            ).then(function() {
                if (blog && categeries) {
                    initVM(blog, categeries);
                }
            });
        } else {
            var categeries;
            $.getJSON('/api/get_all_categeries', function (data) {
                categeries = data;
                initVM({
                    blog: {
                        title: '',
                        title_en: '',
                        summary: '',
                        content: '',
                        created_at: '',
                        categery_id: ''
                    }
                }, categeries);
            });
        }
    });
    </script>
  </head>
  <body>

   <div id="vm" class="">
       <form v-on:submit="submit" class="">
           <div class=""></div>
           <div class="">
               <div class="">
                   <input value='{{ id }}' name="blog_id" type="hidden"/>
               </div>
           </div>
           <div class="">
               <label class="">标题:</label>
               <div class="">
                   <input v-model="blog.title" name="title" type="text" placeholder="标题" class=""/>
               </div>
           </div>
           <div class="">
               <label class="">英文标题:</label>
               <div class="">
                   <input v-model="blog.title_en" rows="4" name="title_en" placeholder="英文标题" class=""/>
               </div>
           </div>
           <div class="">
               <label class="">摘要:</label>
               <div class="">
                   <textarea v-model="blog.summary" rows="4" name="summary" placeholder="摘要" class=""></textarea>
               </div>
           </div>
           <div class="">
               <label class="">内容:</label>
               <div class="">
                   <textarea v-model="blog.content" rows="16" name="content" placeholder="内容" class=""></textarea>
               </div>
           </div>
           <div class="">
               <label class="">创建时间:</label>
               <div class="">
                   <input v-model="blog.created_at" rows="16" name="created_at" placeholder="创建时间" class=""/>
               </div>
           </div>
           <div class="">
               <label class="">分类:</label>
               <select v-model="blog.categery_id">
                   <option v-for="categery in categeries" v-bind:value="categery.id">${ categery.name }</option>
               </select>
           </div>
           <div class="">
               <button type="submit" class="">保存</button>
           </div>
       </form>
   </div>

  </body>
</html>
