<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script>
    var
        ID = '{{ id }}',
        action = '{{ action }}';
    $(function () {
        if (ID) {
            $.getJSON('/api/get_categery/' + ID, function (data, status) {
                initVM(data);
            });
        }
        else {
            initVM({'categery': {
                name: '',
              }
            });
        }
    });

    function initVM(data) {
        var vm = new Vue({
            el: '#vm',
            data: {categery: data.categery},
            methods: {
                submit: function (event) {
                    event.preventDefault();
                    $.post(action, this.$data.categery, function (r, status,xhr) {
                        {
                            alert(status);
                            if(status == 'success'){
                                return location.assign('/x/admin/manage_categeries');
                                // return location.assign('/x/admin/categeries');
                            }
                        }
                    },'json');
                }
            }
        });
        $('#vm').show();
    }

    </script>
  </head>
  <body>
   <div id="vm" class="">
       <form v-on:submit="submit" class="">
           <div class=""></div>
           <div class="">
               <label class="">categery name</label>
               <div class="">
                   <input v-model="categery.name" name="name" type="text" placeholder="标题" class="">
               </div>
           </div>
           <div class="">
               <button type="submit" class="">保存</button>
           </div>
       </form>
   </div>
  </body>
</html>
