{% extends 'base.html' %}
{% block beforehead %}
<script>
$(function () {
    var vm = new Vue({
        el: '#vm',
        data:{
            name: '',
            password:''
        },
        // computed property for form validation state
        computed: {
            validation: function () {
                return {
                    password: !(this.password && this.password.length < 6)
                }
            },
            isValid: function () {
                var validation = this.validation
                return Object.keys(validation).every(function (key) {
                    return validation[key]
                })
            }
        },
        methods:{
            submit: function(e){
                e.preventDefault();
                var $form = $('#vm');
                var data = {
                    name: this.name,
                    password: CryptoJS.SHA1(this.password).toString()
                };
                console.log(data);
                if(this.isValid){
                    $.post('/api/login',data,function(rtn){
                        console.log(rtn);
                        // alert(rtn.admin);
                        //
                        // return location.assign('/');
                    },'json');
                }
            }
        }
    });
    $('#vm').show();
});
</script>
{% endblock %}

{% block sidebarli %}
<li>
  <ul>
    <li><a class="mui-btn mui-btn--raised" href="/x/admin/manage_blogs">博客管理</a></li>
    <li><a class="mui-btn mui-btn--raised" href="/x/admin/manage_categeries">分类管理</a></li>
    <li><a class="mui-btn mui-btn--raised" href="#">标签管理</a></li>
  </ul>
</li>
{% endblock %}
{% block content %}
    <div class="">
        <form id="vm" v-on:submit="submit" class="">
            <br/><br/>
            <div class="mui-textfield mui-textfield--float-label">
                <input v-model="name" name="name" type="text" class="" required>
                <label>用户名</label>
            </div>
            <br/>
            <div class="mui-textfield mui-textfield--float-label">
                <input v-model="password" name="password" type="password" class="" required>
                <label>密码</label>
            </div>
            <div class="">
                <button type="submit" class="mui-btn mui-btn--raised">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
