{% extends 'base.html' %}
{% block title %}
Manage Blogs
{% endblock %}
{% block beforehead %}
    <script>
function initVM(data) {
        Vue.filter("datetime", function (value) {
            return new Date(value*1000).toLocaleString();
        });
    var vm = new Vue({
        el: '#vm',
        delimiters: ['${', '}'],
        data: {
            blogs: data.blogs,
            page: data.page
        },
        methods: {
            edit_blog: function (blog) {
                location.assign('/x/admin/blogs/edit_blog/' + blog.id);
            },
            delete_blog: function (blog) {
                if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {

                    $.post(action, blog.id, function (rtn) {
                        {
                            alert(action);
                            alert('删除成功！');
                            //refresh();
                        }
                    }, 'json');
                }
            }
        }
    });
    console.log(vm);
    $('#vm').show();
}
$(function() {

    $.getJSON('/api/get_blogs',{page:'{{page.page_index}}'},function(results) {
        initVM(results);
    });

});
</script>
{% endblock %}
{% block sidebarli %}
<li>
  <ul>
    <li><a class="mui-btn mui-btn--raised" href="/x/admin/manage_blogs">博客管理</a></li>
    <li><a class="mui-btn mui-btn--raised" href="/x/admin/manage_categeries">分类管理</a></li>
    <li><a class="mui-btn mui-btn--raised" href="#">标签管理</a></li>
  </ul>
</li>
{% endblock %}
{% block content %}

        <div id="vm" class="">
            <table class="mui-table mui-table--bordered">
                <thead>
                    <tr>
                        <th class="">标题&nbsp;/&nbsp;分类</th>
                        <th class="">创建时间</th>
                        <th class="">&nbsp;&nbsp;操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="blog in blogs" >
                        <td>
                            <a target="_blank" v-bind:href="'/blog/'+blog.title_en" v-text="blog.title+' / '+blog.categery_name"></a>
                        </td>
                        <td>
                            <span>${blog.created_at}</span>
                        </td>
                        <td>
                            <a class="mui-btn mui-btn--flat mui-btn--primary" href="#0" v-on:click ="edit_blog(blog)">编辑</a>
                            <a class="mui-btn mui-btn--flat mui-btn--danger" href="#0" v-on:click="delete_blog(blog)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            &nbsp;&nbsp;&nbsp;<a href="/x/admin/blogs/add_blog" class="mui-btn mui-btn--fab mui-btn--primary">+</a>
            <div class="mui-container-fluid">
                <div class="pagenation">
                    <ul class="">
                        <li v-if="page.has_previous"><a :href="'/x/admin/manage_blogs?page='+(page.page_index - 1)" class="mui-btn mui-btn--raised"> << </a></li>
                        <li v-else><button class="mui-btn mui-btn--raised" disable> << </button></li>
                        <li v-for="p in page.page_count">
                            <a :href="'/x/admin/manage_blogs?page='+(p)" v-if="p==page.page_index" class="mui-btn mui-btn--raised mui-btn--primary" >
                                <span v-text="p"></span>
                            </a>
                            <a :href="'/x/admin/manage_blogs?page='+(p)" v-else class="mui-btn mui-btn--raised">
                                <span v-text="p"></span>
                            </a>
                        </li>
                        <li v-if="page.has_next"><a :href="'/x/admin/manage_blogs?page='+(page.page_index + 1)" class="mui-btn mui-btn--raised"> >> </a></li>
                        <li v-else ><button class="mui-btn mui-btn--raised" disable> >> </button></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
