{% extends 'base.html' %}
{% block title %}
Manage Categeries
{% endblock %}
{% block beforehead %}
    <script type="text/javascript">
    $(function() {
        $.getJSON('/api/get_all_categeries',function(data) {
            initVM(data);
        });
    });
    function initVM(data) {
        var vm = new Vue({
            el: '#vm',
            delimiters: ["<%", "%>"],
            data: {categeries: data.categeries},
            methods: {
                edit_categery: function (categery) {
                    location.assign('/x/admin/blogs/edit_categery/' + categery.id);
                },
                delete_categery: function (categery) {
                    if (confirm('确认要删除“' + categery.name + '”？删除后不可恢复！')) {
                        $.post('/x/admin/blogs/delete_categery/', categery.id, function (rtn) {
                            {
                                alert(action);
                                alert('删除成功！');
                            }
                        }, 'json');
                    }
                }
            }
        });
        $('#vm').show();
    }

    </script>
{% endblock %}

{% block sidebarli %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    <table id='vm' class="mui-table mui-table--bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="categery in categeries">
                <td><% categery.id %></td>
                <td><% categery.name %></td>
                <td>
                  <a class="mui-btn mui-btn--flat mui-btn--primary" href="#0" v-on:click= "edit_categery(categery)">编辑</a>
                  <a class="mui-btn mui-btn--flat mui-btn--danger" href="#0" v-on:click= "delete_categery(categery)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;<a href="/x/admin/blogs/add_categery" class="mui-btn mui-btn--fab mui-btn--primary">+</a>
{% endblock %}
