<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script src="../../static/js/crypto.js"></script>
    <script>
function initVM(data) {
        Vue.filter("datetime", function (value) {   //全局方法 Vue.filter() 注册一个自定义过滤器,必须放在Vue实例化前面
            return new Date(value*1000).toLocaleString();
        });
    var vm = new Vue({
        el: '#vm',
        delimiters: ['${', '}'],
        data: {
            blogs: data.blogs,
            page: data.page
        },
        methods: {
            edit_blog: function (blog) {
                location.assign('/x/admin/blogs/edit_blog/' + blog.id);
            },
            delete_blog: function (blog) {
                if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {

                    $.post(action, blog.id, function (rtn) {
                        {
                            alert(action);
                            alert('删除成功！');
                            //refresh();
                        }
                    }, 'json');
                }
            }
        }
    });
    $('#vm').show();
}
$(function() {

    $.getJSON('/api/get_blogs',{page:'{{page_index}}'},function(results) {
        initVM(results);
    });

});
</script>
  </head>
  <body>
        <div id="vm" class="">
            <table class="mui-table">
                <thead>
                    <tr>
                        <th class="">标题</th>
                        <th class="">创建时间</th>
                        <th class="">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="blog in blogs" >
                        <td>
                            <a target="_blank" v-bind:href="'/blog/'+blog.title_en" v-text="blog.title+' / '+blog.categery_name"></a>
                        </td>
                        <td>
                            <span>${blog.created_at}</span>
                        </td>
                        <td>
                            <a href="#0" v-on:click ="edit_blog(blog)">编辑</a>
                            <a href="#0" v-on:click="delete_blog(blog)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/x/admin/blogs/add_blog" class="mui-btn mui-btn--fab mui-btn--primary">新日志</a>
            <ul class="">
                <li v-if="page.has_previous"><a :href="'/manage/blogs?page='+(page.page_index - 1) "> << </a></li>
                <li v-else disable><span> << </span></li>

                <li class=""><span v-text="page.page_index"></span></li>
                <li v-if="page.has_next"><a :href="'/manage/blogs?page='+(page.page_index + 1) "> >> </a></li>
                <li v-else disable><span> >> </span></li>
            </ul>
        </div>
  </body>
</html>
