aiohttp==1.2.0
aiomysql==0.0.9
appdirs==1.4.3
async-timeout==1.1.0
chardet==2.3.0
Jinja2==2.8
markdown2==2.3.3
MarkupSafe==0.23
multidict==2.1.4
packaging==16.8
PyMySQL==0.7.9
pyparsing==2.2.0
six==1.10.0
yarl==0.8.1
